/* common */
/* scrollbar */
html,
body {
  scrollbar-width: thin;
  scrollbar-color: var(--basic-main-color) #f1f1f1;
}
.ag-theme-balham,
.ag-theme-balham .ag-root,
.ag-root-wrapper,
.ag-root-wrapper-body {
  scrollbar-width: thin !important;
  scrollbar-color: rgba(0, 0, 0, 0.13) #f1f1f1;
}
::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  opacity: 0.8;
  border-radius: 10px;
  background: var(--basic-main-color);
}
::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}
.green-color {
  color: var(--basic-green-color);
}
.btn-success {
  color: white !important;
}
.btn-primary,
.page-item.active .page-link {
  border-color: var(--basic-main-color) !important;
  background-color: var(--basic-main-color) !important;
}
.page-link {
  color: var(--basic-main-color);
}
.underline {
  text-decoration: underline;
}
.overflow-none {
  overflow-x: visible !important;
  padding: 10px 0 0 !important;
}
::-webkit-datetime-edit {
  padding: 0.375rem 0.25rem;
}
::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0.25rem;
}
.mt--5 {
  margin-top: -5px !important;
}
a {
  cursor: pointer;
}
.svg-inline--fa {
  vertical-align: middle;
}
select {
  font-size: 0.9rem !important;
}
.tab-content .form-group .form-check-input {
  margin: 4px 0 0 !important;
}
.tab-content .form-group .form-check-label {
  padding: 0 20px;
}
/* range slider  */
.irs-min,
.irs-max,
.irs-from,
.irs-to,
.irs-single,
.irs-handle {
  display: none;
}
.irs-line,
.irs-bar {
  height: 15px !important;
}
.irs-bar {
  background-color: var(--basic-main-color) !important;
}
.irs--flat .irs-line {
  top: 10px;
}
.irs--flat.irs-with-grid {
  height: 45px;
}
.irs--flat .irs-bar {
  top: 10px;
}

/* ag-grid */
.ag-cell,
.ag-row {
  /* overflow: visible !important; */
}
.ag-row {
  z-index: 0;
}
.ag-row.ag-row-focus {
  z-index: 1;
}
.ag-root.ag-layout-auto-height,
.ag-body-viewport.ag-layout-auto-height,
.ag-body-viewport-wrapper.ag-layout-auto-height {
  /* overflow-y: visible !important; */
}
.dropdownGrid .ag-root.ag-layout-auto-height,
.dropdownGrid .ag-body-viewport.ag-layout-auto-height,
.dropdownGrid .ag-body-viewport-wrapper.ag-layout-auto-height {
  min-height: 320px;
}
.ag-theme-balham .btn {
  outline: none !important;
  box-shadow: none !important;
  display: flex !important;
}
.ag-theme-balham .ag-cell .form-check-input {
  margin: 0;
  right: 0;
  margin: 7px 0 0 !important;
}
.ag-theme-balham .ag-row {
  min-height: 45px !important;
}
.ag-theme-balham {
  font-family: var(--neo-sans-regular);
}
.ag-theme-balham .ag-cell div,
.ag-theme-balham .ag-cell button,
.ag-theme-balham .ag-cell {
  width: 100%;
  height: 100%;
}
.ag-theme-balham .ag-cell {
  padding-top: 4px;
}
.ag-theme-balham .ag-cell button.dropdown-toggle {
  padding: 0;
  font-size: 0.9rem;
  direction: rtl;
  outline: none !important;
  box-shadow: none !important;
  justify-content: flex-start;
}
.ag-theme-balham .ag-cell button:focus,
.ag-theme-balham .ag-cell button:hover {
  color: var(--basic-main-color);
}
.ag-theme-balham .dropdown-toggle::after {
  border-top: 0.3em solid #919191;
}
.ag-theme-balham .dropdown-menu {
  left: -17px !important;
  border: none;
  border-radius: 0;
  text-align: right;
  min-width: calc(100% + 34px);
  padding: 0.5rem 0.2rem;
  background-color: #efefef;
}
.ag-theme-balham .dropdown-menu button {
  /* justify-content: flex-end !important; */
}
.ag-paging-page-summary-panel {
  display: flex;
  min-width: 150px;
  justify-content: space-between;
}
.ag-theme-balham .dropdown-menu a {
  color: #707070;
}
.ag-theme-balham .ag-cell .attach-list button {
  display: block;
  height: auto;
  font-size: 0.7rem;
}
/* toggle btn */
.toggle-off.btn,
.toggle-on.btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0;
}
.toggle-on {
  background-color: var(--basic-green-color);
}
.toggle-off {
  background-color: #bebebe;
}
.toggle.btn {
  min-width: 45px;
  min-height: 22px;
  border-radius: 40px;
  border: 1px solid #707070;
  background-color: white;
  box-shadow: none;
}
.status_btn.toggle.btn {
  position: absolute;
  left: 10px;
}
.pt-1-5 {
  padding-top: 1.5rem;
}
.form-check-label {
  vertical-align: super;
}

/* new header */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  z-index: 100;
  transition: all 0.3s;
}
.top-header {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

/* customer_section */
.tabbable-responsive {
  display: block;
  min-width: 100%;
}
.tabbable {
  min-width: 100%;
}
.tabbable .nav-tabs {
  white-space: nowrap;
  display: inline-block;
  min-width: 100%;
  padding: 0;
}
.tabbable .nav-tabs .nav-item {
  display: inline-block;
}
.tabbable .nav-tabs .nav-item .nav-link {
  display: inline-block;
}
.card {
  box-shadow: none;
}
.card,
.card-header {
  background-color: transparent;
}
.nav-tabs .nav-item {
  margin-bottom: 0;
}
.nav-tabs .nav-link {
  border: none !important;
  background-color: white;
  border-radius: 25px 0 0 0;
  min-width: 185px;
  padding: 12px;
  color: #b8c2c8;
  font-size: 0.9rem;
  box-shadow: 5px ​-5px 6px -3px var(--basic-purpr-color);
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--basic-main-color);
  box-shadow: 5px -5px 6px -3px var(--basic-purpr-color);
}
.tab-content {
  background-color: #f9f9f9;
}
.tab-content .row.box-shadow-gray {
  padding: 2.2rem 1rem 1rem;
}
.nav-tabs .nav-link:hover {
  color: var(--basic-main-color);
}
.nav-item.box-shadow-sm {
  border-radius: 25px 0 0 0;
}
.nav-item.box-shadow-sm a {
  min-width: 225px;
}
.customer_card_header {
  position: relative;
}
.customer_card,
.customer_card_header {
  border-radius: 5px;
  border: 1px solid #707070;
}
.customer_card_img {
  display: block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-top: 4px;
  margin: 5px auto;
  object-fit: cover;
}
.customer_card_name {
  color: #707070;
  font-size: 1.1rem;
}
.customer_card_fingerPrint {
  color: var(--basic-green-color);
}
.customer_card_fingerPrintD {
  color: var(--basic-red-color);
}

.customer_card_name,
.customer_card_fingerPrint,
.customer_card_fingerPrintD,
.customer_card_list li p {
  font-weight: bolder;
}
.customer_card_fingerPrintD:hover {
  color: var(--basic-red-color);
}
.customer_card_fingerPrintD .svg-inline--fa {
  margin: 0 5px;
  font-size: 0.85rem;
  color: var(--basic-main-color);
}
.customer_card_fingerPrint:hover {
  color: var(--basic-green-color);
}
.customer_card_fingerPrint .svg-inline--fa {
  margin: 0 5px;
  font-size: 0.85rem;
  color: var(--basic-main-color);
}
.customer_card_list {
  padding: 0.3rem 1.1rem 0 0;
}
.customer_card_list li::marker {
  color: var(--basic-main-color);
}
.customer_card_list li p {
  color: #707070;
  font-size: 0.9rem;
}
.customer_card_list li p span {
  font-weight: lighter;
  -webkit-text-stroke: 0px;
}
.customer_card_list li p span.green-color {
  font-weight: bold;
}
.customer_card_list li p span.disabled {
  color: #b8c2c8;
}
.customer_card.fst-card {
  border-radius: 5px 5px 0 0;
}
.customer_card + .customer_card {
  border-top: 0;
  border-radius: 0 0 5px 5px;
}
.customer_card + .customer_card + .customer_card {
  border-top: 1px solid;
  border-radius: 5px;
}
.customer_info {
  position: relative;
  padding-top: 1.5rem;
}
.card_title {
  position: absolute;
  top: -20px;
  font-size: 1rem;
  min-width: 170px;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #707070;
  color: var(--basic-main-color);
}
.customer_info h6 {
  font-size: 0.75rem;
  font-weight: bold;
}
.customer_info p {
  color: #707070;
  font-size: 0.7rem;
}
.customer_balances {
  padding-top: 0;
}
.ag-center-cols-viewport::-webkit-scrollbar {
  display: none;
}
.tabbable-responsive::-webkit-scrollbar,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar,
.ag-center-cols-viewport::-webkit-scrollbar {
  -webkit-appearance: none;
}
.tabbable-responsive::-webkit-scrollbar:vertical,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar:vertical {
  width: 10px;
}
.tabbable-responsive::-webkit-scrollbar:horizontal,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar:horizontal {
  height: 10px;
}
.tabbable-responsive::-webkit-scrollbar-thumb,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 0px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 #e6e6e6, inset 0 -1px 0 #eeeeee;
}
.tabbable-responsive::-webkit-scrollbar-thumb:hover,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb:hover {
  background-color: #999999;
  box-shadow: inset 1px 1px 1px #c0c0c0;
}
.tabbable-responsive::-webkit-scrollbar-thumb:active,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb:active {
  background-color: #808080;
  box-shadow: inset 1px 1px 3px #a6a6a6;
}
.tabbable-responsive::-webkit-scrollbar-track,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track {
  border-radius: 10px;
  background-clip: padding-box;
  box-shadow: inset 1px 0 0 #e6e6e6;
}
.tabbable-responsive::-webkit-scrollbar-track:hover,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track:hover {
  background-color: #f3f3f3;
  box-shadow: inset 1px 0 0 #e6e6e6;
}
.tabbable-responsive::-webkit-scrollbar-track:active,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track:active {
  background-color: #f3f3f3;
  box-shadow: inset 1px 0 0 #dcdcdc, inset -1px 0 0 #eeeeee;
}
.attach-list,
.actions-list {
  padding: 0;
  list-style: none;
  margin: 0 !important;
}
.actions-list .list-inline-item {
  font-size: 0.9rem;
  margin: 7px 0 0 !important;
  cursor: pointer;
}
.actions-list .svg-inline--fa {
  display: block;
  margin: 0 auto;
}
.actions-list p {
  line-height: 1;
  margin: 0 3px !important;
  font-size: 0.65rem;
}
.actions-list .svg-inline--fa,
.actions-list p {
  color: var(--basic-main-color);
}

.actions-list .info-color .svg-inline--fa,
.actions-list .info-color p {
  color: var(--info);
}
.actions-list .warning-color .svg-inline--fa,
.actions-list .warning-color p {
  color: var(--warning);
}
.actions-list .danger-color .svg-inline--fa,
.actions-list .danger-color p {
  color: var(--danger);
}

/* customer info  */
#customerInfo .customer_card_img {
  width: 120px;
  height: 120px;
}
.take_photo a {
  color: #707070;
  text-decoration: underline;
}

/* edit modal */
.modal-dialog {
  max-width: 64%;
}
.edit_modal .modal-header .row {
  margin: 0 auto;
  color: var(--basic-main-color);
}
.edit_modal .modal-title {
  font-size: 0.9rem;
}
.modal-title {
  color: var(--basic-main-color);
}
.move_info {
  font-size: 0.7rem;
}
.move_info .form-control {
  max-width: calc(100% - 66px);
  vertical-align: middle;
  color: white;
  border: none;
  background-color: #b8c2c8;
  margin-right: 5px;
  font-size: 0.7rem;
}
.move_info .form-control::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.move_info .form-control::-webkit-datetime-edit {
  padding: 0.375rem 0.1rem;
}
.move_info .form-control::-webkit-calendar-picker-indicator {
  position: initial;
}
.edit_modal .modal-header .btn {
  font-size: 0.9rem;
  line-height: 1.4;
  border-radius: 8px;
  box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 16%);
}
.edit_modal .modal-body {
  padding: 1.3rem 1.5rem;
}
.edit_modal .modal-body .customer_card_name,
.edit_modal .modal-body .customer_card_fingerPrint,
.edit_modal .modal-body .customer_card_fingerPrintD,
.edit_modal .modal-body .customer_card_list li p {
  font-weight: normal;
}
.edit_modal .customer_card_img {
  width: 65px;
  height: 65px;
}
.customer_card_list.new li p {
  font-size: 1rem;
}
.customer_card_list.new li p span {
  min-width: 145px;
  display: inline-block;
  position: relative;
  margin-left: 1rem;
}
.customer_card_list.new li p span::after {
  content: ":";
  position: absolute;
  left: 0;
}
.service_form .form-row > [class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}
.service_form .form-row input {
  margin-bottom: 10px;
}
.attachment_btns {
  color: white;
  border-radius: 6px;
  background-color: var(--basic-main-color);
}
.attachment_btns a {
  color: white !important;
  font-size: 0.9rem;
  line-height: 1.85;
}
.more_info_table h6 {
  font-family: var(--neo-sans-bold);
  color: var(--basic-main-color);
  text-decoration: underline;
}
.modal-footer .btn .svg-inline--fa {
  vertical-align: middle;
  font-size: 1.4rem;
}

/* services */
.card_index .nav-tabs .nav-link {
  min-width: 225px;
}
.card_index .nav-tabs .nav-link.active {
  box-shadow: 5px -5px 6px -3px #00000030 !important;
}
.card_index .tab-content {
  box-shadow: 1px 5px 11px -3px rgb(0 0 0 / 19%);
}
.card_index .customer_card_list.new li p {
  font-weight: normal;
}
.min-h {
  min-height: 360px;
}
.buttons-container .btn {
  padding: 0.27rem 1rem;
}
.day-input,
.or-after,
.lowest-after {
  position: relative;
}
.day-input::after,
.time-input::after,
.or-after::after,
.lowest-after::after {
  position: absolute;
  bottom: 13px;
  font-size: 0.8rem;
  color: #707070;
}
.day-input::after {
  content: "يوم";
  color: var(--basic-main-color);
  left: -7px;
}
.time-input::after {
  content: "ساعة";
  color: var(--basic-main-color);
  left: -12px;
}
.or-after::after {
  content: "أو";
  left: -4px;
  color: var(--basic-main-color);
}
.lowest-after::after {
  content: "أيهما اقل";
  left: -14px;
  bottom: 1px;
  color: var(--basic-main-color);
  width: 30px;
  text-align: center;
  font-size: 0.7rem;
}
.accountant p,
.form-row a {
  color: #707070;
}
.input-group-prepend .btn {
  color: black;
}
.code-icon-btn {
  position: absolute;
  left: 5px;
  width: 26px !important;
}
/* date inputs */
.bootstrap-datetimepicker-widget,
.bootstrap-datetimepicker-widget table {
  padding: 0 !important;
}
.bootstrap-datetimepicker-widget table th {
  color: white !important;
  background-color: #00a0bb;
  border-radius: 0;
  border: none !important;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: normal;
  font-size: 0.9rem;
}
.bootstrap-datetimepicker-widget table th.picker-switch {
  background-color: #00a0bb;
  padding-top: 9px;
  padding-bottom: 9px;
}
.bootstrap-datetimepicker-widget table tbody {
  padding: 9px !important;
}
.bootstrap-datetimepicker-widget table td {
  padding: 6px;
  border: none !important;
  font-size: 0.9rem;
  border-radius: 0;
}

input.date_inputs {
  position: relative;
}
input.date_inputs:before {
  position: absolute;
  top: 8px;
  font-size: 0.9rem;
  left: auto;
  right: 0.75rem;
  content: attr(data-date);
  display: inline-block;
}
input.date_inputs::-webkit-datetime-edit,
input.date_inputs::-webkit-inner-spin-button,
input.date_inputs::-webkit-clear-button {
  display: none;
}
input.date_inputs::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 8px;
  right: auto;
  left: -0.85rem;
  opacity: 1;
}
.flex_btn {
  width: calc((100% - 5rem) / 3);
}

/* fingerPrint modal  */
#fingerPrintModal .modal-dialog {
  max-width: 60%;
  z-index: 10000000;
}

/* create coupon */
.coupon_statis span {
  width: 80%;
  color: #646464;
  font-weight: bold;
  border-radius: 5px;
  background-color: #efefef;
  box-shadow: 0 3px 6px 0 rgba(182, 53, 148, 0.45);
}

/* ponits of sale modal */
.points_sale_modal .modal-dialog {
  margin: 7rem auto;
  max-width: 45%;
}
.points_sale_modal .modal-footer .btn .svg-inline--fa {
  font-size: 1rem;
}
.points_sale_modal .modal-footer .btn {
  min-width: 183px;
  font-size: 0.9rem;
}
/* points of sale */
.vertical_tabs .tab {
  padding-top: 10px;
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s;
  width: 72px;
  height: 100%;
  min-height: 100%;
  box-shadow: 0 3px 25px rgba(182, 53, 148, 0.45);
}
.vertical_tabs .tab::-webkit-scrollbar {
  width: 2px;
}
.vertical_tabs .tab::-webkit-scrollbar-track {
  background: white;
}
.vertical_tabs .tab::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
}
.vertical_tabs .tab button {
  color: black;
  padding: 5px 7px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.85rem;
  line-height: 1.1;
  opacity: 0.4;
  background-color: transparent;
  transition: all 0.3s;
  position: relative;
  min-height: calc(100% / 10);
}
.vertical_tabs .tab button .svg-inline--fa {
  font-size: 1rem;
  margin-bottom: 4px !important;
  color: var(--basic-main-color);
}
.vertical_tabs .tab button:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.03);
}
.vertical_tabs .tab button.active {
  opacity: 1;
}
.vertical_tabs .tab button.active::after {
  content: "";
  position: absolute;
  left: -11px;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid var(--basic-main-color);
}
.vertical_tabs .tabcontent {
  border: none;
  padding-right: 72px;
}
.Exit_tab {
  padding-bottom: 2rem;
  border-top: 2px solid var(--basic-main-color);
}
.tab .Exit_tab button {
  line-height: 1.3;
  font-weight: bold;
  opacity: 1;
}
.head_box,
.our_services_section {
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}
.head_box p {
  color: #191919;
  font-size: 0.85rem;
}
.head_box ul p {
  font-size: 0.7rem;
  color: #b8c2c8;
}
.head_box ul .svg-inline--fa {
  font-size: 1.2rem;
  color: var(--basic-main-color);
}
.head_box .btn {
  font-size: 0.85rem;
  font-weight: bold;
  min-height: 37px;
  min-width: 110px;
}
.head_box .btn.btn-danger {
  background-color: #fd6b7f;
  border-color: #fd6b7f;
}
.head_box h6,
.head_box h5 {
  color: #191919;
  opacity: 0.4;
}
.head_box h6 {
  font-size: 0.8rem;
  margin-bottom: 0;
}
.invoice_no.active h6,
.invoice_no.active h5 {
  opacity: 1;
}
.invoice_no {
  border: none;
  background-color: transparent;
}
.customer_inputs .form-control,
.customer_inputs .select2 .select2-selection {
  border-color: var(--basic-main-color) !important;
}
.customer_inputs
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #707070 !important;
}
.customer_inputs input::placeholder {
  color: #707070;
}
.customer_inputs input:-ms-input-placeholder {
  color: #707070;
}
.customer_inputs input::-ms-input-placeholder {
  color: #707070;
}
.customer_inputs .input-group > .form-control:not(:last-child) {
  border-left: none;
}
.customer_inputs .input-group-text {
  background-color: white;
  border-right: none;
  border-color: var(--basic-main-color);
}
.customer_inputs .svg-inline--fa {
  color: var(--basic-main-color) !important;
}
.our_services_section {
  height: calc(100% - 276px);
  position: relative;
}
.our_services_section .slick-slide .btn {
  font-size: 0.75rem;
  min-height: 50px;
  min-width: 95%;
  font-weight: bold;
}
.our_services_section .btn.border-transparent,
.services_card {
  border: 1px solid var(--basic-main-color) !important;
}
.slide-arrow {
  position: absolute;
  top: 17px;
  z-index: 20;
  background-color: #b8c2c8;
  width: 33px;
  height: 33px;
  opacity: 1;
  border-radius: 50%;
  border: none !important;
  outline: none !important;
}
.prev-arrow {
  left: -7px;
}
.next-arrow {
  right: -7px;
}
.prev-arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: 2px;
  left: 0;
  top: 10px;
  margin: 0 auto;
  border-left: 0 solid transparent;
  border-right: 10px solid white;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
.next-arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  left: 0;
  top: 10px;
  margin: 0 auto;
  border-right: 0 solid transparent;
  border-left: 10px solid white;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
.vertical_tabs .customer_inputs.form-inline {
  height: 10.4%;
}
.btn-outline-primary {
  background-color: transparent !important;
  border-color: var(--basic-main-color) !important;
  box-shadow: none !important;
  outline: none !important;
}
.btn-outline-primary:focus {
  background-color: transparent !important;
}
.btn-outline-primary.active,
.btn-outline-primary:hover,
.pay_tab .btn.active {
  background-color: var(--basic-main-color) !important;
  border-color: var(--basic-main-color) !important;
}
.customer_inputs .btn-outline-primary.active .svg-inline--fa,
.customer_inputs .btn-outline-primary:hover .svg-inline--fa,
.pay_tab .btn.active {
  color: white !important;
}
.our_services_section .btn-group .btn {
  min-width: auto;
  line-height: 0.9;
  padding: 0.5rem 1rem;
}
.customer_inputs.form-inline .select2 {
  width: auto !important;
}
.customer_inputs.form-inline .select2 .select2-selection {
  height: 34px !important;
  padding: 0.375rem 1.3rem;
}
.customer_inputs.form-inline
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 22px;
}
.customer_inputs.form-inline
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  top: 44%;
}
.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn-group > .btn:not(:first-child) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.services_card {
  position: relative;
  cursor: pointer;
}
.like_btn {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 35px;
  height: 35px;
  line-height: 1.93;
  border-radius: 50%;
  color: #919191;
  cursor: pointer;
  background-color: #efefef;
}
.btn_click_down {
  position: absolute;
  bottom: -20px;
  left: -4px;
}
.btn_click_down .svg-inline--fa {
  vertical-align: baseline;
}
.services_view {
  height: calc(85% - 120px);
  overflow-y: scroll;
}
.services_card img {
  width: 95%;
  height: 60px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}
.services_card h6 {
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.total_sale {
  height: 80px;
  color: white;
  z-index: 10;
  border-radius: 3px;
  border: 1px solid #707070;
  background-color: #353535;
  box-shadow: 0 3px 10px 0 rgba(182, 53, 148, 0.45);
}
.total_sale h6,
.total_sale p {
  font-size: 0.75rem;
  font-weight: bold;
}
.invoices_head h6,
.invoices_head p {
  font-size: 0.8rem;
  color: #191919;
  margin: 0 !important;
}
.col-lg-4.pl-3 {
  padding-left: 0 !important;
}
.btn-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  font-size: 0.95rem;
  color: white;
  margin-left: 5px;
}
.pay_tab .btn {
  font-size: 0.9rem;
  color: var(--basic-main-color);
}
.m_h {
  height: 300px;
  overflow-y: scroll;
}
.table_list {
  padding: 0 5px;
}
.table_list.m_h {
  height: calc(100% - 330px);
}
.invoices_table {
  margin: 1rem 0;
}
.invoices_table td {
  font-size: 0.9rem;
  padding: 5px 0 !important;
  text-align: right;
  vertical-align: middle !important;
}
.invoices_table p {
  font-size: 0.78rem;
  line-height: 1.3;
}
.number-input {
  width: fit-content;
  width: -moz-fit-content;
  border-radius: 3px;
  background: #efefef;
  border: 1px solid var(--basic-main-color);
}
.number-input a {
  width: 1.8rem;
  height: 1.8rem;
  font-size: 0.6rem;
  line-height: 2.7;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  color: var(--basic-main-color);
  background: transparent;
}
.number-input a:focus {
  outline: none !important;
}
.number-input input[type="number"] {
  max-width: 1.8rem;
  height: 1.8rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: #495057;
  text-align: center;
  background-color: white;
  border: solid var(--basic-main-color);
  border-width: 0 1px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.btn.btn-blue {
  border-color: #449ffb !important;
  background-color: #449ffb !important;
}
.btn.btn-blue-dark {
  border-color: #025ca0 !important;
  background-color: #025ca0 !important;
}
.total_price .badge-primary {
  color: #191919;
  background-color: transparent;
}
.total_price .btn {
  font-size: 0.9rem;
}
.total_price .list-group-item,
.total_price .list-group-item .badge,
.footer_btn .btn-info {
  font-size: 0.75rem;
}
.total_price .list-group-item:last-child {
  font-size: 0.9rem;
}
.footer_btn .btn-info {
  padding: 0 0.7rem;
  min-height: 38px;
}
.list_view img {
  width: 50px;
  height: 50px;
  margin-bottom: 0;
  margin-left: 0.5rem;
}
.like_btn.liked {
  color: #ffc115;
  background-color: #ffeaae;
}

/* notification */
.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.alert_list {
  min-width: 250px;
  padding: 0;
  right: 0 !important;
  top: -9px !important;
  box-shadow: 0px 0px 10px 0px #ddd;
}
li.alert_li {
  font-size: 11px;
  color: grey;
  padding: 10px 0px 2px 0px;
  border-bottom: thin solid #c0c0c0;
}
li.alert_li:hover {
  background-color: #eee;
}
.time_alert {
  float: left;
  margin-bottom: 1px;
}
a.alert_message {
  color: grey;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
a.alert_message:hover {
  color: grey;
}
.border-b-dash {
  border-bottom: 1px dashed #707070;
}
.payment_method .form-control {
  border: none;
  background-color: #efefef;
}
.three_btn .btn {
  font-size: 0.8rem;
  line-height: 2.2;
}
.payment_list span {
  color: #707070;
  font-size: 0.75rem;
  padding: 0.5rem 1.3rem;
  border-radius: 5px;
  position: relative;
  margin-right: 5px;
  background-color: #efefef;
}
.payment_list span .svg-inline--fa {
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 0.7rem;
}
.services_img {
  height: 180px;
  object-fit: contain;
}
.product-info h5 {
  font-weight: bold;
  font-size: 1rem;
  margin-right: 5px;
  min-width: 70px;
  margin-bottom: 0;
}
.product-info select {
  margin-left: 0.5rem;
  background-color: #ebebeb;
}
.product-info .form-check-inline {
  width: 100%;
  margin: 20px 0;
}
.product-info input[type="checkbox"],
.product-info input[type="radio"] {
  display: none;
}
.product-info input[type="checkbox"] + label,
.product-info input[type="radio"] + label,
.color-cart {
  position: relative;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
}
.product-info input[type="checkbox"]:checked + label::after,
.product-info input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 4px;
  margin: 0 auto;
  transform: rotate(45deg);
  height: 13px;
  width: 6px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
#color1 + label {
  background-color: #6b6b6b;
}
#color2 + label {
  background-color: #f5a43b;
}
#color3 + label {
  background-color: #2ebe76;
}
#color4 + label {
  background-color: #040404;
}
#color5 + label {
  background-color: #c45527;
}
#color6 + label {
  background-color: #196dda;
}
#color7 + label {
  background-color: #af0f0f;
}
#color8 + label {
  background-color: #110c5f;
}
.customer_card_list h5 {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--basic-main-color);
}

/* search for customer */
.dropdown-search-content {
  display: none;
  position: absolute;
  background-color: white;
  border: 2px solid var(--basic-main-color);
  border-top: none;
  min-width: calc(100% - 2rem);
  overflow: auto;
  z-index: 100;
  max-height: 540px;
}

.dropdown-search-content a {
  color: #6b6b6b;
  padding: 11px 10px;
  font-size: 0.9rem;
  display: block;
  border-top: 1px solid var(--basic-main-color);
  border-left: 1px solid var(--basic-main-color);
}
.show {
  display: block;
}
.open_search .form-search {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#search-dropdown .col-1.btn {
  border-radius: 0;
  border-left: 1px solid;
  border-right: 1px solid;
}
#search-dropdown img {
  width: 75%;
}
.main_row + .main_row {
  margin-top: 1px;
  border-top: 1px solid var(--basic-main-color);
}

/* datetimepicker */
.datetimepicker-input.form-control {
  border-left: none;
}
.input-group > .input-group-append > .input-group-text {
  height: 100%;
  color: black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
  border: 1px solid #707070;
  border-right: none;
}
.input-group-append {
  height: 100%;
}
.bootstrap-datetimepicker-widget .svg-inline--fa {
  transform: rotate(180deg);
}

/* sumarry page */
.scrolling {
  height: 150px;
  overflow-y: scroll;
}
.member_list a {
  color: #707070;
  font-size: 0.7rem;
}
.customer_section .nav-tabs.d-flex {
  display: none !important;
}
.customer_section .nav-tabs.d-flex.showTab {
  display: flex !important;
}
.customer_balances .col.btn-danger,
.customers_balances div {
  cursor: pointer;
}
.balance_no .badge-pill {
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
}

/* frezz modal */
.freez_modal .modal-dialog,
.follow_up .modal-dialog,
.convert_modal .modal-dialog {
  max-width: 90%;
}
.freez_modal .customer_card_img,
.convert_modal .customer_card_img {
  margin: 25px auto;
}
.freez_modal .freez_info {
  margin-right: 1rem;
}
.has-search {
  position: relative;
}
.has-search .form-control {
  padding-left: 2.375rem;
  border: 1px solid var(--basic-main-color) !important;
}
.has-search .form-control-feedback {
  position: absolute;
  left: 10px;
  z-index: 2;
  display: block;
  width: 1rem;
  height: 100%;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: var(--basic-main-color);
}
.freez_modal .form-control.basic_text_color,
.convert_modal .form-control.basic_text_color {
  width: auto;
  max-width: 125px;
  color: #707070;
  text-align: center;
  border: 1px solid var(--basic-main-color) !important;
}
.customer_card_list input[type="number"] {
  max-width: 5rem;
  height: 1.8rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  border: 1px solid #707070;
  border-radius: 2px;
}
.points_balance {
  color: var(--basic-main-color);
  background-color: #efefef;
}
.points_balance h6 {
  font-size: 0.85rem;
}
.points_balance p {
  font-size: 0.9rem;
}
.points_balance .border-top,
.points_balance .border-right {
  border-color: var(--basic-main-color) !important;
}
.pr-3 {
  padding-right: 1rem !important;
  padding-left: 0 !important;
}
.active_modal .modal-dialog {
  max-width: 25%;
}

/*---------------------
  Class Timetable Section
-----------------------*/
.class-timetable-section.class-details-timetable {
  padding-top: 0;
}
.class-details-timetable_title {
  margin-bottom: 35px;
}
.class-details-timetable_title h5 {
  font-size: 20px;
  font-weight: 600;
}
.table-controls {
  text-align: right;
  margin-top: 14px;
  margin-bottom: 50px;
}
.table-controls ul {
  padding: 12px 30px 15px;
  display: inline-block;
}
.table-controls ul li {
  list-style: none;
  font-size: 14px;
  color: #aaaaaa;
  list-style: none;
  display: inline-block;
  margin-right: 35px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}
.table-controls ul li:after {
  position: absolute;
  right: -22px;
  top: 0;
  content: "/";
}
.table-controls ul li.active {
  color: #ffffff;
}
.table-controls ul li.active:after {
  color: #aaaaaa;
}
.table-controls ul li:last-child {
  margin-right: 0;
}
.table-controls ul li:last-child:after {
  display: none;
}
.class-timetable .ts-meta h5,
.class-timetable .ts-meta span {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.class-timetable.filtering .ts-meta h5,
.class-timetable.filtering .ts-meta span {
  opacity: 0;
}
.class-timetable.filtering .ts-meta.show h5,
.class-timetable.filtering .ts-meta.show span {
  opacity: 1;
}
.class-timetable.details-timetable td h5 {
  color: black;
}
.class-timetable.details-timetable td span {
  color: #363636;
}
.class-timetable.details-timetable td.hover-dp h5 {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.class-timetable.details-timetable td.hover-dp span {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.class-timetable.details-timetable td.hover-dp:hover span {
  color: #a9a9a9;
}
.class-timetable table {
  border: 2px solid #363636;
  text-align: center;
}
.class-timetable table thead {
  border-bottom: 2px solid #363636;
}
.class-timetable .table td,
.class-timetable .table th {
  border-color: #363636;
  vertical-align: middle;
}
.class-timetable table thead tr th {
  font-size: 14px;
  border-right: 2px solid #363636;
  padding: 0;
  font-weight: 400;
}
.class-timetable table tbody tr td {
  min-width: 163px;
  padding: 10px 5px;
  border-top: none;
  border-right: 2px solid #363636;
  border-bottom: 2px solid #363636;
}
.class-timetable table tbody tr td.class-time {
  font-size: 12px;
  color: #020202;
  font-weight: bold;
  border: 2px solid #363636;
  min-width: auto;
}
.class-timetable table tbody tr td.hover-bg {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.class-timetable table tbody tr td.hover-bg:hover {
  background: var(--basic-main-color);
}
.class-timetable table tbody tr td.blank-td {
  position: relative;
  overflow: hidden;
}
.class-timetable table tbody tr td.blank-td:after {
  position: absolute;
  left: -47px;
  top: 59px;
  width: 237px;
  height: 1px;
  background: #363636;
  content: "";
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
.class-timetable table tbody tr td h5 {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.class-timetable table tbody tr td span {
  display: block;
  font-size: 12px;
  color: #a9a9a9;
}
.class-timetable .custom_table tr th {
  border-right: none;
}
.class-timetable .custom_table tr td {
  border-bottom: none;
  min-width: auto;
  width: 145px;
}
.class-timetable .custom_table tr th {
  padding: 5px 0 10px;
}
.class-timetable .custom_table tr td {
  padding: 5px 0;
}
.class-timetable .custom_table {
  border-collapse: separate;
  border-spacing: 5px;
}
.class-timetable .custom_table,
.class-timetable .classes_table {
  margin-bottom: 0;
}
.class-timetable .classes_table {
  border-width: 1px;
  cursor: pointer;
}
.class-timetable .classes_table tr td {
  border-bottom: 0;
  border-width: 1px;
  padding: 8px 5px;
  font-size: 13px;
  min-width: auto;
  border-right: none;
}
.class-timetable .classes_table tr {
  border-bottom: 1px solid #363636;
}
.add_new_table .classes_table {
  margin-bottom: 1rem;
}
.add_new_table td {
  position: relative;
}
.add_new_table .add_info_btn {
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 3px;
  margin: 0 auto;
  z-index: 2;
  color: var(--basic-main-color) !important;
  font-size: 1.9rem;
  line-height: 0.7;
  border: none !important;
  background: rgba(182, 53, 148, 0.2) !important;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
}
.add_new_table .add_info_btn:focus {
  box-shadow: 0 0 0 0.2rem #b6359433 !important;
}

/* monthly goals */
.btn.send {
  border-color: #b8c2c8 !important;
  background-color: #b8c2c8 !important;
  outline: none !important;
  box-shadow: none !important;
}

.order_card label {
  font-size: 0.8rem;
}

/* feeding & sizing */
.dis_date_input {
  max-width: 60%;
}
.medical_table .table,
.medical_table .table .table-borderless th {
  border-bottom: 2px solid #dee2e6;
}
.medical_table .table th,
.medical_table .table td {
  border-top: 2px solid #dee2e6;
}
.medical_table .table th.border-right,
.medical_table .table td.border-right {
  border-right: 2px solid #dee2e6 !important;
}
.medical_table .list-group-item {
  border-radius: 0;
  border: none;
  padding: 0 0 0.3rem;
}
.border-top-0 {
  border-top: 0 !important;
}
.medical_table .table th,
.inbody_table td {
  width: calc(100% / 3);
}
.medical_table .table td {
  vertical-align: bottom;
}
.medical_table .table .table-borderless th {
  padding: 1.2rem 0.7rem;
}
.medical_table .table .table-borderless th,
.medical_table .table .table-borderless td {
  width: 50%;
}
.medical_table .table th h6,
.medical_table .table th,
.customer_sizing_table td h6 {
  font-size: 0.9rem;
  margin-bottom: 0;
  font-weight: bold;
  color: #646464;
  vertical-align: middle;
}
.glasses-imgs {
  width: calc(100% / 5);
  height: 65px;
  object-fit: contain;
}
.customer_sizing_table.medical_table .table th {
  width: calc(100% / 4);
}
.td_content {
  min-height: 40px;
}
.inbody_table .col-form-label,
.medical_table label {
  font-size: 0.9rem;
  font-weight: normal;
}
.inbody_table .col-form-label {
  padding: 0;
}
.inbody_table .form-control {
  height: 30px !important;
}

/* Delay modal */
.Delay .modal-dialog {
  max-width: 45%;
}

/* new modal */
.cursor {
  cursor: pointer;
}
.modal .border {
  border-radius: 5px;
  border: 1px solid #707070 !important;
}
.add_time .modal-dialog {
  max-width: 35%;
}
.points,
.slash {
  position: relative;
}
.points::after,
.slash:after {
  position: absolute;
  right: -2px;
  top: 5px;
}
.points::after {
  content: ":";
}
.slash:after {
  content: "|";
}
