/* common */
/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  opacity: 0.8;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}
.green-color {
  color: var(--basic-green-color);
}
.btn-primary {
  border-color: var(--basic-main-color);
  background-color: var(--basic-main-color);
}
.underline {
  text-decoration: underline;
}
.overflow-none {
  overflow-x: visible !important;
  padding: 10px 0 0 !important;
}
::-webkit-datetime-edit {
  padding: 0.375rem 0.25rem;
}
::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0.25rem;
}
.mt--5 {
  margin-top: -5px !important;
}
a {
  cursor: pointer;
}
.svg-inline--fa {
  vertical-align: middle;
}
select {
  font-size: 0.9rem !important;
}
/* ag-grid */
.ag-cell,
.ag-row {
  overflow: visible !important;
}
.ag-row {
  z-index: 0;
}
.ag-row.ag-row-focus {
  z-index: 1;
}
.ag-root.ag-layout-auto-height,
.ag-body-viewport.ag-layout-auto-height,
.ag-body-viewport-wrapper.ag-layout-auto-height {
  overflow-y: visible !important;
}
/* .ag-theme-balham .ag-cell {
  text-align: left;
} */
.ag-theme-balham .btn {
  outline: none !important;
  box-shadow: none !important;
}
/* toggle btn */
.toggle-off.btn,
.toggle-on.btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0;
}
.toggle-on {
  background-color: var(--basic-green-color);
}
.toggle-off {
  background-color: #bebebe;
}
.toggle.btn {
  min-width: 45px;
  min-height: 22px;
  border-radius: 40px;
  border: 1px solid #707070;
  background-color: white;
  box-shadow: none;
}
.status_btn.toggle.btn {
  position: absolute;
  left: 10px;
}
.pt-1-5 {
  padding-top: 1.5rem;
}

/* new header */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  z-index: 100;
  transition: all 0.3s;
}
.top-header {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

/* customer_section */
.tabbable-responsive {
  display: block;
  min-width: 100%;
}
.tabbable {
  min-width: 100%;
}
.tabbable .nav-tabs {
  white-space: nowrap;
  display: inline-block;
  min-width: 100%;
  padding: 0;
}
.tabbable .nav-tabs .nav-item {
  display: inline-block;
}
.tabbable .nav-tabs .nav-item .nav-link {
  display: inline-block;
}
.card {
  box-shadow: none;
}
.card,
.card-header {
  background-color: transparent;
}
.nav-tabs .nav-item {
  margin-bottom: 0;
}
.nav-tabs .nav-link {
  border: none !important;
  background-color: white;
  border-radius: 25px 0 0 0;
  min-width: 185px;
  padding: 12px;
  color: #b8c2c8;
  font-size: 0.9rem;
  box-shadow: 5px ​-5px 6px -3px var(--basic-purpr-color);
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--basic-main-color);
  box-shadow: 5px -5px 6px -3px var(--basic-purpr-color);
}
.tab-content {
  background-color: #f9f9f9;
}
.tab-content .row.box-shadow-gray {
  padding: 2.2rem 1rem 1rem;
}
.nav-tabs .nav-link:hover {
  color: var(--basic-main-color);
}
.nav-item.box-shadow-sm {
  border-radius: 25px 0 0 0;
}
.nav-item.box-shadow-sm a {
  min-width: 225px;
}
.customer_card_header {
  position: relative;
}
.customer_card,
.customer_card_header {
  border-radius: 5px;
  border: 1px solid #707070;
}
.customer_card_img {
  display: block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-top: 4px;
  margin: 5px auto;
  object-fit: cover;
}
.customer_card_name {
  color: #707070;
  font-size: 1.1rem;
}
.customer_card_fingerPrint {
  color: var(--basic-green-color);
}
.customer_card_name,
.customer_card_fingerPrint,
.customer_card_list li p {
  font-weight: bolder;
}
.customer_card_fingerPrint:hover {
  color: var(--basic-green-color);
}
.customer_card_fingerPrint .svg-inline--fa {
  margin: 0 5px;
  font-size: 0.85rem;
  color: var(--basic-main-color);
}
.customer_card_list {
  padding: 0.3rem 1.1rem 0 0;
}
.customer_card_list li::marker {
  color: var(--basic-main-color);
}
.customer_card_list li p {
  color: #707070;
  font-size: 0.9rem;
}
.customer_card_list li p span {
  font-weight: lighter;
  -webkit-text-stroke: 0px;
}
.customer_card_list li p span.green-color {
  font-weight: bold;
}
.customer_card_list li p span.disabled {
  color: #b8c2c8;
}
.customer_card.fst-card {
  border-radius: 5px 5px 0 0;
}
.customer_card + .customer_card {
  border-top: 0;
  border-radius: 0 0 5px 5px;
}
.customer_card + .customer_card + .customer_card {
  border-top: 1px solid;
  border-radius: 5px;
}
.customer_info {
  position: relative;
  padding-top: 1.5rem;
}
.card_title {
  position: absolute;
  top: -20px;
  font-size: 1rem;
  min-width: 170px;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #707070;
  color: var(--basic-main-color);
}
.customer_info h6 {
  font-size: 0.75rem;
  font-weight: bold;
}
.customer_info p {
  color: #707070;
  font-size: 0.7rem;
}
.customer_balances {
  padding-top: 0;
}
.ag-center-cols-viewport::-webkit-scrollbar {
  display: none;
}
.tabbable-responsive::-webkit-scrollbar,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar,
.ag-center-cols-viewport::-webkit-scrollbar {
  -webkit-appearance: none;
}
.tabbable-responsive::-webkit-scrollbar:vertical,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar:vertical {
  width: 10px;
}
.tabbable-responsive::-webkit-scrollbar:horizontal,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar:horizontal {
  height: 10px;
}
.tabbable-responsive::-webkit-scrollbar-thumb,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 0px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 #e6e6e6, inset 0 -1px 0 #eeeeee;
}
.tabbable-responsive::-webkit-scrollbar-thumb:hover,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb:hover {
  background-color: #999999;
  box-shadow: inset 1px 1px 1px #c0c0c0;
}
.tabbable-responsive::-webkit-scrollbar-thumb:active,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb:active {
  background-color: #808080;
  box-shadow: inset 1px 1px 3px #a6a6a6;
}
.tabbable-responsive::-webkit-scrollbar-track,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track {
  border-radius: 10px;
  background-clip: padding-box;
  box-shadow: inset 1px 0 0 #e6e6e6;
}
.tabbable-responsive::-webkit-scrollbar-track:hover,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track:hover {
  background-color: #f3f3f3;
  box-shadow: inset 1px 0 0 #e6e6e6;
}
.tabbable-responsive::-webkit-scrollbar-track:active,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track:active {
  background-color: #f3f3f3;
  box-shadow: inset 1px 0 0 #dcdcdc, inset -1px 0 0 #eeeeee;
}
.ag-theme-balham {
  font-family: var(--neo-sans-regular);
}
.ag-theme-balham .ag-cell div,
.ag-theme-balham .ag-cell button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.ag-theme-balham .ag-cell button.dropdown-toggle {
  padding: 0;
  font-size: 0.9rem;
  outline: none !important;
  box-shadow: none !important;
}
.ag-theme-balham .ag-cell button:focus,
.ag-theme-balham .ag-cell button:hover {
  color: var(--basic-main-color);
}
.ag-theme-balham .dropdown-toggle::after {
  border-top: 0.3em solid #919191;
}
.ag-theme-balham .dropdown-menu {
  left: -17px !important;
  border: none;
  border-radius: 0;
  text-align: right;
  min-width: calc(100% + 34px);
  padding: 0.5rem 0.2rem;
  background-color: #efefef;
}
.ag-theme-balham .dropdown-menu a {
  color: #707070;
}
.attach-list,
.actions-list {
  padding: 0;
  list-style: none;
  margin: 0 !important;
}
.ag-theme-balham .ag-cell .attach-list button {
  display: block;
  height: auto;
  font-size: 0.7rem;
}
.actions-list .list-inline-item {
  margin: 7px 2px 0 !important;
}
.actions-list .svg-inline--fa {
  display: block;
  margin: 0 auto;
}
.actions-list p {
  line-height: 1;
  margin: 0 3px !important;
  font-size: 0.65rem;
}
.actions-list .svg-inline--fa,
.actions-list p {
  color: var(--basic-main-color);
}

.actions-list .info-color .svg-inline--fa,
.actions-list .info-color p {
  color: var(--info);
}
.actions-list .warning-color .svg-inline--fa,
.actions-list .warning-color p {
  color: var(--warning);
}
.actions-list .danger-color .svg-inline--fa,
.actions-list .danger-color p {
  color: var(--danger);
}

/* customer info  */
#customerInfo .customer_card_img {
  width: 120px;
  height: 120px;
}
.take_photo a {
  color: #707070;
  text-decoration: underline;
}

/* edit modal */
.modal-dialog {
  max-width: 64%;
}
.edit_modal .modal-header .row {
  margin: 0 auto;
  color: var(--basic-main-color);
}
.edit_modal .modal-title {
  font-size: 0.9rem;
}
.modal-title {
  color: var(--basic-main-color);
}
.move_info {
  font-size: 0.7rem;
}
.move_info .form-control {
  max-width: calc(100% - 66px);
  vertical-align: middle;
  color: white;
  border: none;
  background-color: #b8c2c8;
  margin-right: 5px;
  font-size: 0.7rem;
}
.move_info .form-control::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.move_info .form-control::-webkit-datetime-edit {
  padding: 0.375rem 0.1rem;
}
.move_info .form-control::-webkit-calendar-picker-indicator {
  position: initial;
}
.edit_modal .modal-header .btn {
  font-size: 0.9rem;
  line-height: 1.4;
  border-radius: 8px;
  box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 16%);
}
.edit_modal .modal-body {
  padding: 1.3rem 1.5rem;
}
.edit_modal .modal-body .customer_card_name,
.edit_modal .modal-body .customer_card_fingerPrint,
.edit_modal .modal-body .customer_card_list li p {
  font-weight: normal;
}
.edit_modal .customer_card_img {
  width: 65px;
  height: 65px;
}
.edit_modal .customer_card_list li p {
  font-size: 1rem;
}
.edit_modal .customer_card_list li p span {
  min-width: 145px;
  display: inline-block;
  position: relative;
  margin-left: 1rem;
}
.edit_modal .customer_card_list li p span::after {
  content: ":";
  position: absolute;
  left: 0;
}
.service_form .form-row > [class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}
.service_form .form-row input {
  margin-bottom: 10px;
}
.attachment_btns {
  color: white;
  border-radius: 6px;
  background-color: var(--basic-main-color);
}
.attachment_btns a {
  color: white !important;
  font-size: 0.9rem;
  line-height: 1.85;
}
.more_info_table h6 {
  font-family: var(--neo-sans-bold);
  color: var(--basic-main-color);
  text-decoration: underline;
}
.modal-footer .btn .svg-inline--fa {
  vertical-align: middle;
  font-size: 1.4rem;
}

/* services */
.card_index .nav-tabs .nav-link {
  min-width: 225px;
}
.card_index .nav-tabs .nav-link.active {
  box-shadow: 5px -5px 6px -3px #00000030 !important;
}
.card_index .tab-content {
  box-shadow: 1px 5px 11px -3px rgb(0 0 0 / 19%);
}
.min-h {
  min-height: 360px;
}
.buttons-container .btn {
  padding: 0.27rem 1rem;
}
.day-input,
.or-after,
.lowest-after {
  position: relative;
}
.day-input::after,
.time-input::after,
.or-after::after,
.lowest-after::after {
  position: absolute;
  bottom: 13px;
  font-size: 0.8rem;
  color: #707070;
}
.day-input::after {
  content: "يوم";
  left: -7px;
}
.time-input::after {
  content: "ساعة";
  left: -12px;
}
.or-after::after {
  content: "أو";
  left: -4px;
  color: var(--basic-main-color);
}
.lowest-after::after {
  content: "أيهما اقل";
  left: -14px;
  bottom: 1px;
  color: var(--basic-main-color);
  width: 30px;
  text-align: center;
  font-size: 0.7rem;
}
.accountant p,
.form-row a {
  color: #707070;
}
.input-group-prepend .btn {
  color: black;
}
.code-icon-btn {
  position: absolute;
  left: 5px;
  width: 26px !important;
}
/* date inputs */
input.date_inputs {
  position: relative;
}
input.date_inputs:before {
  position: absolute;
  top: 8px;
  font-size: 0.9rem;
  left: auto;
  right: 0.75rem;
  content: attr(data-date);
  display: inline-block;
}
input.date_inputs::-webkit-datetime-edit,
input.date_inputs::-webkit-inner-spin-button,
input.date_inputs::-webkit-clear-button {
  display: none;
}
input.date_inputs::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 8px;
  right: auto;
  left: -0.85rem;
  opacity: 1;
}
.flex_btn {
  width: calc((100% - 5rem) / 3);
}

/* fingerPrint modal  */
#fingerPrintModal .modal-dialog {
  max-width: 60%;
}

/* create coupon */
.coupon_statis span {
  width: 80%;
  color: #646464;
  font-weight: bold;
  border-radius: 5px;
  background-color: #efefef;
  box-shadow: 0 3px 6px 0 rgba(182, 53, 148, 0.45);
}

/* ponits of sale modal */
#salePointsModal .modal-dialog {
  margin: 7rem auto;
  max-width: 45%;
}
#salePointsModal .modal-footer .btn .svg-inline--fa {
  font-size: 1rem;
}
#salePointsModal .modal-footer .btn {
  min-width: 183px;
  font-size: 0.9rem;
}
/* points of sale */
.vertical_tabs .tab {
  padding-top: 10px;
  background-color: white;
  position: fixed;
  right: 0;
  transition: all 0.3s;
  width: 72px;
  /* overflow-y: scroll; */
  box-shadow: 0 3px 25px rgba(182, 53, 148, 0.45);
}
.vertical_tabs .tab::-webkit-scrollbar {
  width: 2px;
}
.vertical_tabs .tab::-webkit-scrollbar-track {
  background: white;
}
.vertical_tabs .tab::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
}
.vertical_tabs .tab button {
  color: black;
  padding: 8px 7px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.85rem;
  line-height: 1.1;
  opacity: 0.4;
  background-color: transparent;
  transition: all 0.3s;
  position: relative;
}
.vertical_tabs .tab button .svg-inline--fa {
  font-size: 1rem;
  margin-bottom: 4px !important;
  color: var(--basic-main-color);
}
.vertical_tabs .tab button:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.03);
}
.vertical_tabs .tab button.active {
  opacity: 1;
}
.vertical_tabs .tab button.active::after {
  content: "";
  position: absolute;
  left: -11px;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid var(--basic-main-color);
}
.vertical_tabs .tabcontent {
  float: right;
  border: none;
}
.Exit_tab {
  padding-bottom: 2rem;
  border-top: 2px solid var(--basic-main-color);
}
.tab .Exit_tab button {
  line-height: 1.3;
  font-weight: bold;
  opacity: 1;
}
.head_box,
.our_services_section {
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}
.head_box p {
  color: #191919;
  font-size: 0.85rem;
}
.head_box ul p {
  font-size: 0.7rem;
  color: #b8c2c8;
}
.head_box ul .svg-inline--fa {
  font-size: 1.2rem;
  color: var(--basic-main-color);
}
.head_box .btn {
  font-size: 0.75rem;
}
.head_box h6 {
  color: #191919;
  font-size: 0.8rem;
  margin-bottom: 0;
}
.customer_inputs .form-control,
.customer_inputs .select2 .select2-selection {
  border-color: var(--basic-main-color) !important;
}
.customer_inputs
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #707070 !important;
}
.customer_inputs input::placeholder {
  color: #707070;
}
.customer_inputs input:-ms-input-placeholder {
  color: #707070;
}
.customer_inputs input::-ms-input-placeholder {
  color: #707070;
}
.customer_inputs .input-group > .form-control:not(:last-child) {
  border-left: none;
}
.customer_inputs .input-group-text {
  background-color: white;
  border-right: none;
  border-color: var(--basic-main-color);
}
.customer_inputs .svg-inline--fa {
  color: var(--basic-main-color) !important;
}
.our_services_section .btn {
  font-size: 0.75rem;
  min-width: 114px;
}
.our_services_section .btn.border-transparent,
.services_card {
  border: 1px solid var(--basic-main-color) !important;
}
.slide-arrow {
  position: absolute;
  top: 16%;
  z-index: 20;
  background-color: #b8c2c8;
  width: 33px;
  height: 33px;
  opacity: 0.7;
  border-radius: 50%;
  border: none !important;
  outline: none !important;
}
.prev-arrow {
  left: -7px;
}
.next-arrow {
  right: -7px;
}
.prev-arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: 2px;
  left: 0;
  top: 10px;
  margin: 0 auto;
  border-left: 0 solid transparent;
  border-right: 10px solid white;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
.next-arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  left: 0;
  top: 10px;
  margin: 0 auto;
  border-right: 0 solid transparent;
  border-left: 10px solid white;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
.btn-outline-primary {
  background-color: transparent !important;
  border-color: var(--basic-main-color) !important;
  box-shadow: none !important;
  outline: none !important;
}
.btn-outline-primary:focus {
  background-color: transparent !important;
}
.btn-outline-primary.active,
.btn-outline-primary:hover {
  background-color: var(--basic-main-color) !important;
  border-color: var(--basic-main-color) !important;
}
.customer_inputs .btn-outline-primary.active .svg-inline--fa,
.customer_inputs .btn-outline-primary:hover .svg-inline--fa {
  color: white !important;
}
.our_services_section .btn-group .btn {
  min-width: auto;
}
.customer_inputs.form-inline .select2 {
  width: auto !important;
}
.customer_inputs.form-inline .select2 .select2-selection {
  height: 34px !important;
  padding: 0.375rem 1.3rem;
}
.customer_inputs.form-inline
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 22px;
}
.customer_inputs.form-inline
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  top: 44%;
}
.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn-group > .btn:not(:first-child) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.services_card {
  position: relative;
}
.like_btn {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 35px;
  height: 35px;
  line-height: 1.9;
  border-radius: 50%;
  color: #919191;
  background-color: #efefef;
}

/* datetimepicker */
.datetimepicker-input.form-control {
  border-left: none;
}
.input-group > .input-group-append > .input-group-text {
  color: black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
  border: 1px solid #707070;
  border-right: none;
}
.bootstrap-datetimepicker-widget .svg-inline--fa {
  transform: rotate(180deg);
}
